@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
}
.sparkle {
    position: fixed;
    width: 8px;
    height: 8px;
    pointer-events: none;
    background: radial-gradient(circle, #fff, #ff69b4, transparent);
    border-radius: 50%;
    animation: sparkleFade 0.8s ease-out forwards;
    z-index: 9999;
  }
  
  @keyframes sparkleFade {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  